@use '/node_modules/bootstrap/scss/bootstrap.scss';

/* Variables */
@use './partials/variables' as *;

a {
  text-decoration: none;
  color: white;
}

body {
  min-height: 100vh;
  background-color: $gh_dark_violet;
  color: white;
}