@use '/node_modules/bootstrap/scss/bootstrap.scss';

/* Variables */
@use './partials/variables' as *;

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: 'Oxanium', cursive;
  min-height: 100vh;
  background-image: url(../img/body-bg.jpg);
  background-size: contain;
  color: white;
}